html,
body,

html,
body {
    font-size: 100px;
    margin: 0;
    height: 100%;
    background: #24303D;
}

*,
body,
a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
    margin: 0;
    padding: 0;
}

div {
    display: block;
    font-size: .14rem;
}

@media only screen and (min-width: 900px) {
    body {
        min-width: 10rem;
    }
}


@import './styles/index.styl'
