.finance-detail
  > div
    display flex
    align-items center
    padding 0.09rem
    .label1
      color #A9BADA
      font-size .14rem
      //padding 0.1rem
      padding-left 0.46rem
      width 1.7rem
    .label2
      color #18397C
      font-size .12rem
      padding-right 0.46rem
      //padding-top 0.8rem
      flex 1
    .protocol
      margin-left  -0.1rem
      display flex
      > a
        color #3B57DC
        font-size .12rem
        padding 0.1rem
        cursor pointer
        text-decoration underline
        &:hover
          color #3B57DC
          opacity 0.7

.explain
  .explain-top
    padding 0.44rem 0
    color #99ACD3
    font-size 0.14rem
    line-height 0.3rem
  .explain-frist
    display flex
    align-items center
    justify-content space-between
    padding-bottom  0.44rem
    .left
      > div
        //color #99ACD3
        //font-size 0.14rem
        display flex
        flex-direction column
        padding-top 0.1rem
        > div
          &:first-child
            font-weight bold
            color #3B57DC
            font-size 0.14rem
          &:not(:first-child)
            color #A9BADA
            font-size 0.14rem
            line-height 0.3rem
    .right
      display flex
      flex-direction column
      align-items center
      padding-right 0.92rem
      > div
        color #18397C
        font-size 0.14rem
        margin-bottom 0.6rem
        font-weight bold
      > img
        width 4.48rem
        height 3.52rem

  .title
    display flex
    flex-direction column
    padding-bottom 0.15rem
    padding 0.2rem
    padding-top 0.26rem

    > div
      &:first-child
        font-weight bold
        color #3B57DC
        font-size 0.14rem
        padding-bottom 0.12rem
      &:not(:first-child)
        color #A9BADA
        font-size 0.14rem
        line-height 0.3rem
  .stream
    display flex
    flex-direction column
    .title
      font-weight bold
      color #18397C
      font-size 0.14rem
    .stream-step
      display flex
      justify-content space-around
      align-items flex-start
      padding 0.2rem
      .stream-cell
        display flex
        flex-direction column
        align-items center
        > img
          width 0.4rem
          height 0.4rem
          margin-bottom  0.18rem
        > div
          color #99ACD3
          font-size 0.12rem
          text-align center
          &:last-child
            padding-top 0.12rem
      .stream-line
        margin-top 0.2rem
        height 1px
        width 2rem
        background-color  #D5DFF3

.problem
  padding 0.4rem 1rem
  > div
    &:not(:last-child)
      padding-bottom 0.50rem
    > div
      display flex
      align-items flex-start
      > div
        &:first-child
          font-weight bold
          color #3B57DC
          font-size 0.14rem
          width 0.8rem
          padding-bottom 0.18rem
        &:not(:first-child)
          color #A9BADA
          font-size 0.14rem
          flex 1


.popver-finance
  background-color #FBCB80
  width 3rem
  > span
    font-size 0.12rem
    color #fff

.finance-detail-title
  color #18397C
  font-size .1rem

.finance-warning-btn
  background-color #0ACEDF
  padding 0.1rem
  margin .15rem
  margin-top 0.3rem
  font-size 0.13rem
  border-radius 0.06rem
  color white
  text-align center
  cursor pointer

.finance-popver
  .ant-popover-inner
    background-color #FBCB80
  .ant-popover-arrow
    background-color #FBCB80



