.finance-invest-detail
  display flex
  //flex 1
  align-items center
  padding 0.3rem
  .Left
    background-color #9DB1F8
    padding 0.05rem
    margin-right 1rem
    border-radius 0.05rem
    margin-left 0.3rem
    //width 3rem
    .Top
      .top1
        font-size 0.14rem
        color #DDE6F9
        padding 0.1rem
        padding-left 0.15rem
        padding-bottom 0
      > div
        padding 0.1rem
        display flex
        align-items flex-end
        .top2
          color #C5FEE6
          font-size 0.36rem
        .top3
          color #FEFAE4
          font-size 0.14rem
          padding-bottom 0.1rem
    .Bottom
      display flex
      justify-content space-between
      > div
        padding-top 0.05rem
        padding 0.15rem
        padding-left 0.3rem
        padding-right 0.3rem
        &:nth-child(1)
          padding-left  0.1rem
        &:nth-child(2)
          padding-right 0.3rem
        &:nth-child(3)
          padding-right 0.1rem
        > div
          &:nth-child(1)
            font-size 0.14rem
            color #DDE6F9
          &:nth-child(2)
            display flex
            align-items flex-end
            > div
              &:nth-child(1)
                font-size 0.24rem
                color #FEFAE4
              &:nth-child(2)
                font-size 0.12rem
                color #FEFAE4
                padding-bottom 0.05rem
  .Right
    width 4rem
    > div
      flex 1
      display flex
      align-items center
      padding 0.1rem
      > div
        align-items center
        &:nth-child(1)
          background-color #99ACD3
          width 0.06rem
          height 0.06rem
          border-radius 0.03rem
          margin-right 0.1rem
        &:nth-child(2)
          display flex
          justify-content space-between
          align-items center
          flex 1
          > div
            color #99ACD3
            &:nth-child(1)
              font-size 0.14rem
            &:nth-child(2)
              font-size 0.12rem

.invest-back
  display flex
  align-items center
  margin-bottom 0.1rem
  > img
    width 0.08rem
    height 0.12rem
    margin-right 0.1rem
  > div
    color #99ACD3
    font-size 0.14rem