@import './step';
@import './pager';
@import './cardtab';
@import './stick_title';
@import './checkbox';
@import './card';
@import './modal';
@import './button';
@import './input';
@import './toast';
@import './label';
@import './menu';
@import './notOpen';

.matrix-round-img 
    overflow hidden
    position relative 
    transform rotate(0)
    display inline-block
    img 
        height 100%
        width auto 
        left 50%
        position relative 
        transform translateX(-50%)