.matrix-label
    border 1px solid #BBC7FF
    border-radius .04rem
    padding .02rem
    margin 0 .1rem
    &-type 
        color #A9BADA
    
    &-value 
        color #4A64DF

    &-close 
        margin 0 .04rem
        color #4A64DF