_color = #99ACD3
.matrix-pager
    display flex 
    justify-content flex-end
    align-items center
    color _color
    div, a, i, span, svg, input
        font-size .12rem
        color _color
    .ant-pagination-options-quick-jumper
        height .2rem
        line-height .19rem
        position relative
        top -.01rem
        input 
            width .4rem;
            text-align center;
            height .2rem;
            background: color-input-placeholder;
            border-style: none;
    // &-button
    //     margin-top -.02rem
    .ant-pagination-prev, .ant-pagination-next
        height .2rem
        padding 0 .05rem
        font-size .12rem
        line-height .19rem
        border-radius .04rem
        border 1px solid _color
        border-color _color 
    .ant-pagination-item 
        height .2rem
        font-size .12rem
        line-height .19rem
        border-color _color 
    .ant-pagination-options
        height .2rem
        // margin-right .02rem
    .ant-pagination-options-size-changer.ant-select
        margin-right .12rem
    .ant-select-selection--single
        height .2rem
        top -.01rem
        border-color _color
    .ant-select-selection__rendered
        font-size .12rem
        line-height .22rem
        border-color _color
        position relative
        top -.01rem
    .ant-select-dropdown-menu-item
        line-height .19rem
        padding .02rem .05rem
    .ant-pagination-item-active
        background-color: #9DB1F8
        a 
            color #fff
    .ant-select-selection__rendered
        margin 0 .05rem
        margin-right .02rem
    .ant-select-arrow
        right .05rem