.matrix-stick-title 
    &-title 
        color color-orange-deep
        font-size .16rem
        .h5 &
            font-size .14rem
    &-stick 
        display inline-block
        width .04rem
        height .22rem 
        background-color #9DB1F8
        &.blue 
            background-color #9DB1F8
    
        &.yellow 
            background-color #FBD59A
    
        &.red 
            background-color #FB9595
    
        &.purple 
            background-color #D2AEFB
    