.color-white 
    color #ffffff
    i 
        color color-white !important

.color-primary 
    color color-primary

.color-primary-deep 
    color color-font-second

.color-primary-light 
    color color-light

.color-light-blue 
    color color-light-blue

.color-title 
    color color-font-second

.color-pinkred 
    color color-pinkred

.color-orange 
    color color-orange
    
.color-orange-deep
    color color-orange-deep

.color-tip 
    color #B4BBD3

.color-red
    color color-red

.color-input-tip 
    color #CCD2DE

.bg-color-darkblue
    background-color #121C3C

.bg-color-table 
    // background-color #F9FBFF

.color-green 
    color color-green;

.color-grey
    color #CCCCCC

.color-font-first
    color color-font-first

.color-font-second
    color color-font-second
    svg
        fill color-font-second

.color-font-third
    color color-font-third

.color-font-fourth
    color color-font-fourth

.color-font-fifth
    color color-font-fifth

.color-title-bg
    background-color: #222D3A


