.text-left 
    text-align left

.text-right 
    text-align right

.text-center 
    text-align center

.inline-block 
    display inline-block

.flex
    display flex

.flex1
    flex 1

.flex-right
    display flex
    justify-content flex-end

.flex-end
    display flex
    align-items flex-end

.flex-start
    display flex
    align-items flex-start

.flex-align-center
    display flex
    align-items center

flex-center()
    display flex
    align-items center
    justify-content center

.flex-center
    flex-center()

.flex-between
    display flex
    justify-content space-between

.flex-around
    display flex
    justify-content space-around

.flex-column-center
    display flex
    flex-direction column
    align-items center

.flex-column
    display flex
    flex-direction column

.flex-column-between
    display flex
    flex-direction column
    justify-content space-between

.flex-25
    flex-basis: 25%

.flex-50
    flex-basis: 50%

.text-overflow 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;