.ft-size-10
    font-size 0.1rem
.ft-size-11
    font-size 0.11rem
.ft-size-12
    font-size 0.12rem
.ft-size-13
    font-size 0.13rem
.ft-size-14
    font-size 0.14rem
.ft-size-15
    font-size 0.15rem
.ft-size-16
    font-size 0.16rem
.ft-size-17
    font-size 0.17rem
.ft-size-18
    font-size 0.18rem
.ft-size-19
    font-size 0.19rem
.ft-size-20
    font-size 0.2rem
.ft-size-21
    font-size 0.21rem
.ft-size-22
    font-size 0.22rem
.ft-size-23
    font-size 0.23rem
.ft-size-24
    font-size 0.24rem
.ft-size-25
    font-size 0.25rem
.ft-size-26
    font-size 0.26rem
.ft-size-27
    font-size 0.27rem
.ft-size-28
    font-size 0.28rem
.ft-size-29
    font-size 0.29rem

.ft-weight-100
    font-weight 100
.ft-weight-200
    font-weight 200
.ft-weight-300
    font-weight 300
.ft-weight-400
    font-weight 400
.ft-weight-500
    font-weight 500
.ft-weight-600
    font-weight 600
.ft-weight-700
    font-weight 700
.ft-weight-800
    font-weight 800
.ft-weight-900
    font-weight 900
.ft-weight-bold
    font-weight bold