.ant-spin-container::after
    background: rgba(0, 0, 0, 0.2)

.ant-table-small
    .ant-table-content .ant-table-header
        background: transparent;


tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover
    background: #24303E;

.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li
    background: linear-gradient(90deg, #a6abbf 25%, #a6abbf 37%, #a6abbf 63%) !important
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
    border-radius: .06rem;

.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body
    background: transparent;

.ant-spin-container
    .ant-table-header
        background: transparent;