.width-40
    width .4rem
.width-80
    width .8rem
.width-90
    width .9rem
.width-100
    width 1rem
.width-120
    width 1.2rem
.width-125
    width 1.25rem
.width-130
    width 1.3rem
.width-140
    width 1.4rem
.width-150
    width 1.5rem
.width-170
    width 1.7rem
.width-200
    width 2rem
.width-210
    width 2.1rem
.width-300
    width 3rem
.width-350
    width 3.5rem
.width-400
    width 4rem
.width-700
    width 7rem
.width-650
    width 6.5rem
.width-p-100
    width 100%

.height-300
    height 3rem
.height-400
    height 4rem
.height-450
    height 4.5rem
.height-500
    height 5rem
.height-700
    height 7rem
.height-20
    height .2rem
.height-60
    height .6rem
