.m-x-5
    margin-left .05rem
    margin-right .05rem
.m-x-1
    margin-left .01rem
    margin-right .01rem
.m-x-10
    margin-left .1rem
    margin-right .1rem
.m-x-m-5
    margin-left -.05rem
    margin-right -.05rem
.m-0
    margin 0
.mt-5
    margin-top 0.05rem
.mt-10
    margin-top 0.1rem
.mt-15
    margin-top 0.15rem
.mt-20
    margin-top 0.2rem
.mt-25
    margin-top 0.25rem
.mt-30
    margin-top 0.3rem
.mt-35
    margin-top 0.35rem
.mt-40
    margin-top 0.4rem
.mt-43
    margin-top 0.43rem
.mt-45
    margin-top 0.45rem
.mt-50
    margin-top 0.5rem
.mt-60
    margin-top 0.6rem
.mt-70
    margin-top 0.7rem
.mt-170
    margin-top 1.7rem
.mt-200
    margin-top 2rem
.mt-220
    margin-top 2.2rem
.mt-230
    margin-top 2.3rem

.ml-5
    margin-left 0.05rem
.ml-10
    margin-left 0.1rem
.ml-15
    margin-left 0.15rem
.ml-20
    margin-left 0.2rem
.ml-25
    margin-left 0.25rem
.ml-30
    margin-left 0.3rem
.ml-35
    margin-left 0.35rem
.ml-40
    margin-left 0.4rem
.ml-41
    margin-left 0.41rem
.ml-45
    margin-left 0.45rem
.ml-50
    margin-left 0.5rem
.ml-55
    margin-left 0.55rem
.ml-60
    margin-left 0.6rem
.ml-65
    margin-left 0.65rem
.ml-70
    margin-left 0.7rem
.ml-80
    margin-left 0.8rem
.ml-100
    margin-left 1rem
.ml-120
    margin-left 1.2rem

.mr-5
    margin-right 0.05rem
.mr-10
    margin-right 0.1rem
.mr-15
    margin-right 0.15rem
.mr-20
    margin-right 0.2rem
.mr-25
    margin-right 0.25rem
.mr-30
    margin-right 0.3rem
.mr-35
    margin-right 0.35rem
.mr-40
    margin-right 0.4rem
.mr-45
    margin-right 0.45rem
.mr-50
    margin-right 0.5rem
.mr-80
    margin-right 0.8rem

.mb-5
    margin-bottom 0.05rem
.mb-10
    margin-bottom 0.1rem
.mb-15
    margin-bottom 0.15rem
.mb-20
    margin-bottom 0.2rem
.mb-25
    margin-bottom 0.25rem
.mb-30
    margin-bottom 0.3rem
.mb-35
    margin-bottom 0.35rem
.mb-40
    margin-bottom 0.4rem
.mb-45
    margin-bottom 0.45rem
.mb-50
    margin-bottom 0.5rem
.mb-60
    margin-bottom 0.6rem

create-margin()
    for $i in range(5, 100, 5)
        $j = ($i / 100)
        .mx-{$i}
            margin-left $j rem
            margin-right $j rem

create-margin()
