absolute-center() 
    position absolute 
    left 50%
    transform translateX(-50%)

relative-center(val)
    position relative
    left 50%
    transform translateX(val)

.absolute-center 
    absolute-center()
.relative-center 
    relative-center(-.85rem)

.relative 
    position relative

absolute-bg()
    position absolute
    top 0
    bottom 0
    left 0
    right 0