color-white = #fff
color-primary = #238FF4
color-disable = #475361
color-input-label = #9CB3D4
color-input-tip = #465C7E
color-error-msg = #F2A243
color-input-line = #596591
color-modal-bg = #324151
color-input-placeholder = #2A3745
color-deep = #18397c
color-light = #99acd3
color-grey = #323F4D
color-light-blue = #9DB1F8
color-primary-bg = #232C38

color-pinkred = #FB9595
color-orange = #FBCC82
color-orange-deep = #FFAC59
color-orange-dark = #AE7D4C
color-green = #3FB556
color-pink = #F5A8B3
color-red = #D84040

color-font-first = #DFE0E7
color-font-second = #A6ABBF
color-font-third = #52647A
color-font-fourth = #7591AA
color-font-fifth = #D7E7FA
color-font-sixth  = #B7C3D0

color-border-dark = #323F4D
color-border = rgba(72,82,124,0.4)